<div class='container'>

  <div class='row'>

    <div class='col-xs-12'>

      <div id='job_listings_form_container'>

        <%= render partial: 'job_listings_form' %>

      </div>

    </div>

  </div>

  <div class='row'>

    <div class='col-xs-12'>

      <div id='job_listings_table'>

        <%= render partial: 'job_listings' %>

      </div>

    </div>

  </div>

</div>
